body {
    margin: 0;
    background: #f4f6f9;
    font-family: Segoe UI;
}

/* SIDEBAR */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    background: #4e73df;
    padding-top: 20px;
    color: white;
}

    .sidebar .logo {
        text-align: center;
        margin-bottom: 30px;
    }

    .sidebar a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 12px 20px;
    }

        .sidebar a:hover {
            background: #2e59d9;
        }

    .sidebar i {
        margin-right: 10px;
    }

/* MAIN */

.main {
    margin-left: 220px;
}

/* TOPBAR */

.topbar {
    height: 60px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.buscador input {
    padding: 5px;
    border: 1px solid #ccc;
}

.usuario i {
    margin-right: 15px;
}

/* TARJETAS */

.card {
    border-radius: 10px;
}
