body {
    background-color: #f8fafc;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.glass-card {
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.05);
    padding: 30px;
    border: 1px solid #edf2f7;
}

.btn-modern {
    border-radius: 10px;
    padding: 12px 24px;
    font-weight: 600;
    transition: all 0.3s;
}

/* AJUSTES DE LA TABLA PARA QUE NO ESTÉ APRETADA */
.custom-grid {
    border: none !important;
    margin-top: 10px;
}

.custom-grid th {
        background: #f1f5f9 !important;
        color: #64748b;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        padding: 20px 15px !important;
        border: none !important;
}

.custom-grid td {
        padding: 22px 15px !important; /* Espacio generoso entre filas */
        vertical-align: middle;
        border-bottom: 1px solid #f1f5f9 !important;
        color: #334155;
}

.custom-grid tr:hover {
        background-color: #f8fafc !important;
}

/* Estilo para el Stock */
.badge-stock {
    padding: 6px 12px;
    border-radius: 8px;
    background: #f1f5f9;
    font-weight: 600;
}

.stock-bajo {
    background: #fee2e2;
    color: #ef4444;
}
